*{
    font-family: verdana; 
    background-color: rgb(189, 233, 218); 
    margin-bottom: 2px;
}

h1{
    text-align: center;
}

.p1{
    text-align: center;
}

.div1{
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 3%;
}
.name{
    background-color: white;
    margin-top: 25px;
    margin-left: 80px;
    font-size: large;

}

#name{
    background-color: white;
    margin-top: 25px;
    width: auto;
}

.email{
    background-color: white;
    margin-top: 25px;
    margin-left: 80px;
    font-size: large;

}

#email{
    background-color: white;
    margin-top: 25px;
    width: auto;
}

.age{
    background-color: white;
    margin-top: 25px;
    margin-left: 80px;
    font-size: large;
    
}

#age{
    background-color: white;
    margin-top: 25px;
    width: auto;
}

.role{
    background-color: white;
    margin-top: 25px;
    margin-left: 80px;
    font-size: large;
    
}

#role{
    background-color: white;
    margin-top: 25px;
    width: auto;
}

.p2{
    background-color: white;
    margin-top: 25px;
    margin-left: 80px;
    font-size: large;
    
}

.div2{
    background-color: white;
    margin-left: 75px;
}

.recommend{
    background-color: white;
}
.improve{
    background-color: white;
}

.comment{
    background-color: white;
    margin-top: 25px;
    margin-left: 80px;
    font-size: large;
    
}

#comment{
    background-color: white;
    margin-left: 10%;

}

button{
    background-color: white;
}

.div3{
    background-color: white;
    display: flex;  
    justify-content: center;  
    align-items: center;  

}

.btn{
    width: 20%;
    background-color: aqua;
    
}
